.box {
	width: 300px;
	height: 200px;
	background-color: black;
	display:inline-block;
	margin: 5px;
	padding-top: 50px;
}
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: black;
}
*/

.navbar {
	background: black; 
}

.navbar-brand {
	height:100px;
	background-color: black;
}

.navbar-nav>li>a {
	padding-top:60px;
	font-size:20px;
}

@media (min-width: 75px) {
	/*phones*/
	.box {
			background-color:white;
			margin: 0 auto; 
			padding-top:10px;
			display: inline;
			padding-left: 15px;
		}
}


@media (min-width: 768px) {
/* Small devices (tablets, 768px and up) */
	.box {
			background-color:white;
			padding-top: 10px;
			width: 200px;
			padding: 15px;
			margin: 15px;
			float:left;
		}

	.logo {
		width: 200px;
	}

}

@media (min-width: 992px) { 
	/* Medium devices (desktops, 992px and up)
*/
	.box {
			background-color:white;
			margin-left: 2px;
			width: 280px;
			margin-left: 5px;
			display: inline-block;
		}

	.logo {
		width: 280px;
	}
}

@media (min-width: 1200px) { 
	/* Large devices (large desktops, 1200px and
up) */
		.box {
			background-color:white;
			margin-right: 45px;
			width: 300px;
			margin-left: 30px;
			display: inline-block;
		}

		.logo {
			width: 300px;
		}

}
￼
