.box {
	width: 300px;
	height: 200px;
	background-color: black;
	display:inline-block;
	margin: 5px;
	padding-top: 50px;
}

.navbar-brand {
	height:100px;
	background-color: black;
}

.navbar-nav>li>a {
	padding-top:60px;
	font-size:20px;
}

@media (min-width: 400px) {
	/*phones*/
	.box {
			background-color:white;
			margin-left: 0px;
			padding-top:10px;

		}
}


@media (min-width: 768px) {
/* Small devices (tablets, 768px and up) */
	.box {
			background-color:white;
			padding-top: 10px;
		}
}

@media (min-width: 992px) { 
	/* Medium devices (desktops, 992px and up)
*/
	.box {
			background-color:white;
		}
}

@media (min-width: 1200px) { 
	/* Large devices (large desktops, 1200px and
up) */
		.box {
			background-color:white;
		}

}
￼
